		*{
			margin: 0;
			padding: 0;
		}
		:root{
			width: 100%;
			height: 100vh;
			color: #fff;
			background: linear-gradient(45deg,rgb(255, 0, 195),rgb(58, 131, 199),rgb(173, 63, 252),rgb(0, 0, 0));
			background-size: 400% 400%;
			position: relative;
			animation: cambiar 10s ease-in-out infinite;
			z-index: -1;
		}
		@keyframes cambiar{
			0%{background-position: 0 50%;}
			50%{background-position: 100% 50%;}
			100%{background-position: 0 50%;}
		}